* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.first_page {
  height: 90vh;
  display: flex;
}
.text_modpacks {
  width: 100vw;
}
.text_preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: text 3.8s;
}
@keyframes text {
  0% {

    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  90% {
    opacity:60%;
  }
  100% {
    opacity: 100%;

  }
}
.video_preview {
  display: inline-block;
  height: 100vh;
}

.second_page {
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container {
  height: 65vh;
  display: flex;
  background: linear-gradient(90deg, #444444 20%, #b2aeae 45%, rgba(21, 9, 9, 0) 80%);
  overflow: hidden;
  justify-content: center;
}

.main_video {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.background_video {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: -99;
}

.main_text {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.text {
  font-size: 25px;
  color: whitesmoke;
}
.third_page {

}